In [9]:
#Q1. Create one variable containing following type of data:
#String
s1 = 'This is a sample string for assignment1'
print("Question1 1: ", type(s1))
l1 = [1,2,'ab','c',3]
print("Question1 2: ", type(l1))
f1 = 3.141
print("Question1 3: ", type(f1))
t1 = ('a','ab','c',3,4,5)
print("Question1 4: ", type(t1))

Question1 1:  <class 'str'>
Question1 2:  <class 'list'>
Question1 3:  <class 'float'>
Question1 4:  <class 'tuple'>

In [2]:
#Q2. Given are some following variables containing data:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1
print("Var1 type is :",type(var1))
print("Var2 type is :",type(var2))
print("Var3 type is :",type(var3))
print("Var4 type is :",type(var4))

Var1 type is : <class 'str'>
Var2 type is : <class 'str'>
Var3 type is : <class 'list'>
Var4 type is : <class 'int'>

In [20]:
#Q3. Explain the use of the following operators using an example:
a=3/5
print("Division result is: ", a)
b=11%5
print("Remainder is: ", b)
c=19//3
print("Floor Division: ", c)
d=3**4
print("Exponent result: ",d)

Division result is:  0.6
Remainder is:  1
Floor Division:  6
Exponent result:  81

In [27]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
l1 =[1,2,3,'a','b','abc','text',11,'a1',10]
len(l1)

10

In [29]:
for x in l1:
    print(x, type(x))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
a <class 'str'>
b <class 'str'>
abc <class 'str'>
text <class 'str'>
11 <class 'int'>
a1 <class 'str'>
10 <class 'int'>

In [49]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
test1= 1
while test1 !=0:
    a = int(input())
    b = int(input())
    c = a%b
    d = a/b
    test1 =0
    if c == 0:
        print("a is purely divisble by b with :",d,"times" )
    else:
        print("not purely divisble inputs")

6
3
a is purely divisble by b with : 2.0 times

In [51]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in a:
    if x%3 == 0:
        print(x,": is divisble by 3")
    else:
        print(x,": not divisible by 3")

1 : not divisible by 3
2 : not divisible by 3
3 : is divisble by 3
4 : not divisible by 3
5 : not divisible by 3
6 : is divisble by 3
7 : not divisible by 3
8 : not divisible by 3
9 : is divisble by 3
10 : not divisible by 3
11 : not divisible by 3
12 : is divisble by 3
13 : not divisible by 3
14 : not divisible by 3
15 : is divisble by 3
16 : not divisible by 3
17 : not divisible by 3
18 : is divisble by 3
19 : not divisible by 3
20 : not divisible by 3
21 : is divisble by 3
22 : not divisible by 3
23 : not divisible by 3
24 : is divisble by 3
25 : not divisible by 3